<h2>Vehicle</h2>
&nbsp;
<p>Manufacturer: <%= @car.manufacturer.name %></p>
&nbsp;
<p>Color: <%= @car.color %></p>
&nbsp;
<p>Year: <%= @car.year %></p>
&nbsp;
<p>Mileage: <%= @car.mileage %></p>
&nbsp;
